noctalia/.local/state/noctalia/wallhaven/
noctalia/.local/state/noctalia/plugins/
noctalia/.local/state/noctalia/plugin-cache/
noctalia/.local/state/noctalia/clipboard/
noctalia/.local/state/noctalia/notification_history.json
noctalia/.local/state/noctalia/recently_used.json
noctalia/.local/state/noctalia/usage_counts.json
